@import 'tailwindcss';
@import './styles/colors.css';
@import './styles/typography.css';

@layer base {
  body {
    margin: 0;
    font-family:
      'Pretendard Variable',
      'Pretendard',
      system-ui,
      -apple-system,
      'Segoe UI',
      Roboto,
      'Noto Sans KR',
      'Apple SD Gothic Neo',
      'Helvetica Neue',
      Arial,
      sans-serif;
    background: var(--gray-100);
    color: var(--black);
  }
}

@layer utilities {
  /* 스크롤은 가능, 스크롤바만 숨김 */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
